fastapi
uvicorn
torch
torchvision
torchaudio
transformers
librosa
opencv-python
mediapipe
scikit-learn
python-multipart
faster-whisper
google-genai
kagglehub
huggingface_hub
python-dotenv
requests
yt-dlp
passlib
bcrypt
motor
